.about-us {
  padding: 5% 25%;
  text-align: center;
  h1{ 
    font-weight: 600;
    font-size: 32px;
    font-family: 'Playfair Display', Arial, Helvetica, sans-serif;  
    padding-bottom: 21px;

  }
  }
     