.site__header{
    @include bg-img('hero-img.jpg');
    background-attachment: fixed; 
    height: 810px;
    margin-bottom: 35px;
    .menu__header{
        position: fixed;
        width: -webkit-fill-available;        
        margin: 0 auto;
        // padding-top: 27px;
        z-index: 99999;
        
          ul {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            padding: 22px 173px;
            flex-wrap:wrap ;

           li{
            padding-right: 25px;
               a{
                font-family: 'Montserrat', Arial, Helvetica, sans-serif;
                text-decoration: none;
                color: #000000;
                font-size: 25px;
               }
            }
          }
 
       }
    } 
            .main-logo-black{
              width: 110px;
              position: absolute;
              bottom: 17px;
              left: 22px;
          }
    .hero-heading{
    text-align: center;   
    // position: relative;
    padding-left: 6%;
    padding-top: 302px;
 
    h2 {
      font-size: 20px;
      text-transform: uppercase;
      font-weight: 600;
      font-family: 'Montserrat', Arial, Helvetica, sans-serif;
      &:after{
        content: "=";
        color: #000000;
      }
       &:before{
        content: "=";
        color: #000000;
      }
    }
    .title-2{
     font-weight: 450;
      font-size: 3em;
      font-family: 'Montserrat', sans-serif;
    }
    
    
    }//header
    
    .btn-contact{
      font-family: 'Montserrat', sans-serif;
      margin-top: 35px;
     a{
        color: #fff !important;
        background-color: black;
        text-decoration: none;
        letter-spacing: 1.5px;
        font-size: 25px;
        padding: 15px;
        font-weight: 450;
        font-size: 25px;
        border: 2px solid #141212;
        &:hover{
      background-color: #424242;
      transition: 0.5s;
    }
    }
     
    }  
    @media(max-width: 555px){
      .hero-heading{
        font-size: 12px;
      }
    }
    @media(max-width: 995px){
      .site__header .menu__header .main-logo-black{

      }
   
    }
    
    @media (max-width: 992px){
      .main-logo-black{
        bottom: 0;
      }
      .site__header .menu__header ul li a{
        font-size: 15px;
        color: #fff !important;   
      }
    } 
  
    @media (max-width: 620px){
      .menu__header .horizontal-nav a {
        display: inline-block;
        padding: 20px 6px;
        width: max-content;  
    }
    .site__header .menu__header ul li{

    }
    }
    @media (max-width: 500px){
      .slider-item .lslide{
        margin-left: 10px;
        width: 200px;
      }
      .blog-slider img{
        width: 200px;
        margin: 0 45px;
      } 
      .slider-item .btn__slider{
        width: 150px  !important;
      }
      .slider-item .btn__slider{
        width: auto;
        left: auto;
      }
      .lSSlideOuter button {
         display: none; 
      }
      .about-us{
        padding: unset !important;
      }
      .stn-portfolio h1{
        margin-left: unset !important;
      }
      .blog-slider .desc{
        // padding: 4% 34%;
        padding: unset;
      }
      .lSSlideOuter .lSPager, .lSSlideOuter .lightSlider{
        // height: 521px !important;
      }
      
    
    }
