//society
.stn-footer{
  background-color: #ebebeb;
  height: 165px;
  .icons{
   margin-top: 75px;

  }
  a {
      text-decoration: none;
  }
  .fa {
    text-align: left;
    color: #797979;
    opacity: 0.7;
    margin-left: 10px;
    margin-bottom: 25px;
    &:hover {
      opacity: 1;
      color: #000000;
      text-decoration: none;
    }
  }
}



