.stn-portfolio {
    margin-top: 67px;
    text-align: center;
    h1 {
  font-weight: 600;
  margin-top: 57px; 
  margin-left: -45px;
  font-size: 32px;
  font-family: 'Playfair Display', Arial, Helvetica, sans-serif;  
  }
    p {
  margin-top: 25px;
  font-family: 'Work Sans', sans-serif;
  text-align: center;
  // margin-right: 75px;
  font-size: 17px;
  font-weight: 400;
  color: #6f6b6b;
    }
  }
  