//forms, buttons, dialogs etc.
//trigger
.main-nav-trigger {
  display: none ;
  font-size: 45px;
  color:#fff;
  float: right;
  line-height: 1;
  cursor: pointer;
  transition: color .3s ease-in-out;
  &:hover {
    color: $overlay;
  }
}
//media 992 px
@media (max-width: 992px){
  .main-nav-trigger {
    display: block ;
  }
  .main-logo {
    float: left;
  
  }
.site-nav {
  position: relative;
}
.site-nav .horizontal-nav {
display: none;
position: absolute;
top: 100%;
width: 100%;
left: 0;
background-color: $overlay;

li {
  width: 100%;
  display: block;
  margin-left: 0;
  text-align: center;
  border-bottom: 1px solid lighten($overlay, 15% );
}
a {
  display: inline-block;
  padding: 20px 30px;
}
}
.about-us {
  display: flex;
  justify-content: center;
}
}
@media (max-width: 992px ){
  .stn-numbers{
height: 300px;
  }
  .sprite {
    display: flex;
    align-items: center;
    flex-direction: row;
    h3{
padding-bottom: 12px;
    padding-left: 8px;
    }
    p{
         padding-left: 8px; 
    }
  }
  .contact-info {
  margin-bottom: 90px;
}
}

@media (max-width: 1192px ){

  .signature {
    margin-left: 27em;
  }

}
@media (max-width:  768px ) {
#projects {
  display: inline-flex;
  flex-direction: row;
  align-content: stretch;
  align-self: flex-start;
  align-items: stretch;
  height: 320px;
}
.darken {
  min-width: 600px;
}
}
.hero-heading {
 display: block;
 float: left;
 max-width: 760px;

}

